/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/* line 9, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
.album-art {
  height: 160px;
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/* line 19, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
.album-body {
  margin-top: 25px;
  text-align: center;
  /*padding-left: 2px;*/
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 29, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songtitle {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  color: #0085B2;
  font-family: Roboto;
  text-transform: uppercase;
}

/* line 40, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#artist {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
}

/* line 51, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist {
  width: 580px;
  height: auto;
  margin: 0 auto;
  top: 40px;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #f0f3f5;
  font-family: Roboto;
  text-transform: uppercase;
  box-shadow: 2px 1px 2px 1px lightgray;
  font-weight: bolder;
  font-size: 12px;
  position: relative;
}

/* line 69, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
.fa-arrow-right {
  color: lightgrey;
}

/* line 73, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
.fa-arrow-left {
  color: lightgrey;
}

/* line 78, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#prev {
  position: absolute;
  left: 20px;
  top: 230px;
}
/* line 82, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#prev:hover {
  background-color: #0085B2 !important;
  border-style: none !important;
}
/* line 85, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#prev:hover .fa-arrow-left {
  color: white !important;
}
/* line 89, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#prev:active, #prev:focus {
  background: #00698C !important;
  border-color: #00698C !important;
}
/* line 92, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#prev:active .fa-arrow-left, #prev:focus .fa-arrow-left {
  color: white !important;
}

/* line 99, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#next {
  position: absolute;
  right: 20px;
  top: 230px;
}
/* line 103, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#next:hover {
  background-color: #0085B2 !important;
  border-style: none  !important;
}
/* line 106, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#next:hover .fa-arrow-right {
  color: #fff  !important;
}
/* line 110, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#next:active, #next:focus {
  background: #00698C !important;
  border-color: #00698C !important;
}
/* line 113, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#next:active .fa-arrow-right, #next:focus .fa-arrow-right {
  color: white !important;
}

/* line 120, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#num {
  background-color: #90B9C9;
  border-radius: 5%;
  padding: 2px 6px;
  color: white;
}

/* line 128, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#explicit {
  padding: 4px;
  width: 60px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #DDDDDD;
  border-radius: 3%;
  vertical-align: middle;
  margin: 3px;
  font-size: 8px;
  font-weight: bolder;
  letter-spacing: .5px;
}

/* line 144, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#badge-custom {
  background-color: white !important;
  color: black;
  font-weight: bolder;
}

/* line 152, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songname {
  color: #0085B2;
  font-weight: 900;
  letter-spacing: .5px;
  font-weight: bolder;
  margin-left: 0;
}

/* line 162, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li {
  background-color: #f0f3f5;
}
/* line 164, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li #badge-custom {
  background-color: #f0f3f5 !important;
}
/* line 167, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li:hover {
  background-color: #0085B2;
}
/* line 169, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li:hover #songname, #songlist li:hover #num, #songlist li:hover #badge-custom, #songlist li:hover .fa-star {
  color: white !important;
}
/* line 172, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li:hover .yellow-star {
  color: #D9D900 !important;
}
/* line 175, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li:hover #badge-custom {
  background-color: #0085B2 !important;
}
/* line 178, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
#songlist li:hover #explicit {
  background-color: #90B9C9;
  color: white;
}

/* line 187, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
div.tooltip-inner {
  color: white;
  background-color: darkgrey;
  font-size: 7px;
  font-family: Roboto;
}

/* line 193, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
div.tooltip-arrow {
  border-top-color: darkgrey !important;
}

/* line 198, /Users/Katie/Desktop/hakuchallenge/jukebox/app/assets/stylesheets/tune.scss */
.yellow-star {
  color: #D9D900 !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 /*BOUTIQUE CSS*/


html, body {
  height: 100%;
}
 #boutique{
  display: none; /* Start invisible until the plugin is loaded */
  margin: 0 auto;
  position: absolute;
  top: 3em;
  /*right: 10%;*/
  font-family: Roboto;
  height: 50vh !important;
}

 /* The frames */
 #boutique li{
   background-color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   height: 280px;
   width: 222px;
   border-radius: 2px;
 }

 /* The most frontal item */
 #boutique .front img{
 }

 #boutique .behind img{
 }

 #boutique img{
 }

 .boutique{
    margin:0;
    padding:0;
    position:relative !important;
    z-index:1;
    left: -2%;
  }
 .boutique li{
   margin:0; padding:0; list-style:none;
   position:absolute; z-index:1;
   display:none;
   border-width:0;
   height: 320px;
   width: 250px;
 }
 .boutique img{
   border:0;
   vertical-align:bottom;
  }
 .boutique span{
   display:block;
   position:absolute;
   left:0;
   right:0;
   bottom:0;
   text-align:left;
   cursor:default;
   margin:0;
 }
 .boutique h6{
   cursor:default;
  }
 .boutique a, .boutique a:hover{
   cursor:default;
   text-decoration:none;
   outline:none;
  }
 .boutique img, .boutique li, .boutique a{
   -webkit-user-select:none;
   -khtml-user-select:none;
   -moz-user-select:none;
   -o-user-select:none;
   user-select:none;
   -webkit-user-drag:none;
   -moz-user-drag:none;
   user-drag:none;
 }
 .boutique.rtl h6, .boutique.rtl span{
   text-align:right;
 }

.frame3 {
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0;
background-color: #0085B2 !important;
}

 .frame3 #songtitle {
   padding-top: 5px;
   padding-left: 8px;
   padding-right: 8px;
   padding-bottom: 0;
   color: white !important;
   text-transform: uppercase;
 }


 .frame3 #artist {
   padding-top: 0px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 0;
   color: white !important;
   text-transform: uppercase;
 }


.set-padding-0{
  padding: 0 !important;
}

/*BOUTIQUE CSS*/
