<ul id="boutique"></ul>
<button type="button" class="btn btn-default btn-md clicked" href="#" id="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
 <button type="button" class="btn btn-default btn-md" href="#" id="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>





<!-- <div class="panel panel-primary">
  <div class="panel-heading">jhdsahfjhdfhs</div>
  fdoinfds sdofjohisdfj</div>
</div> -->

<br><br><br><br>

<div class="panel panel-default fixed-panel">
<!-- <div class="panel-body" style="max-height: 10;overflow-y: scroll;"> -->


  <!-- Table -->
  <table class="table songtable">
    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>
  </table>
</div>
<!-- </div> -->
