<head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<div id="topdiv"></div>
<div id="bottomdiv"></div>

<!-- <div class="panel panel-primary">
  <div class="panel-heading">jhdsahfjhdfhs</div>
  fdoinfds sdofjohisdfj</div>
</div> -->

<div class="panel panel-default fixed-panel">
<div class="panel-body" style="max-height: 10;overflow-y: scroll;">


  <!-- Table -->
  <table class="table songtable">
    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>

    <tr>
      <td>1</td>
      <td><i class="fa fa-star" aria-hidden="true"></i></td>
      <td>Song name</td>
      <td>Explicit?</td>
      <td>Type of song</td>
      <td>Category</td>
      <td>Time</td>
    </tr>
  </table>
</div>
</div>
