<ul id="boutique"></ul>

<button type="button" class="btn btn-default btn-lg clicked" href="#" id="prev" onclick="boutique_prev()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
 <button type="button" class="btn btn-default btn-lg" href="#" id="next" onclick="boutique_next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>



<ul class="list-group" id="songlist"></ul>
