<ul id="boutique"></ul>
<button type="button" class="btn btn-default btn-md clicked" href="#" id="prev" onclick="boutique_prev()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
 <button type="button" class="btn btn-default btn-md" href="#" id="next" onclick="boutique_next()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>


<div id="panel1" class="panel panel-default fixed-panel">



  <table class="table songtable table-hover" id="paneltable"></table>
</div>
