<ul id="boutique"></ul>
<button type="button" class="btn btn-default btn-md clicked" href="#" id="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
 <button type="button" class="btn btn-default btn-md" href="#" id="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>





<!-- <div class="panel panel-primary">
  <div class="panel-heading">jhdsahfjhdfhs</div>
  fdoinfds sdofjohisdfj</div>
</div> -->



<div id="panel1" class="panel panel-default fixed-panel">
<!-- <div class="panel-body" style="max-height: 10;overflow-y: scroll;"> -->


  <!-- Table -->
  <table class="table songtable table-hover">
    <tr>
      <td id="tracknumber" class="col-sm-1"><div id="num">1</div></td>
      <td class="col-sm-1" id="star"><a href="" data-toggle="tooltip" title="MARK AS FAVORITE"><i class="fa fa-star" aria-hidden="true" style="color: #DDDDDD; font-size: 18px"></i></a></td>
      <td class="col-sm-1" id="songname">Legend</td>
      <td class="col-sm-1" id="category1"><div id="explicit">Explicit</div></td>
      <td class="col-sm-7" id="category2"><div id="type">Type of song</div></td>
      <td class="col-sm-1" id="songtime">4:02</td>
    </tr>

    <tr>
      <td id="tracknumber" class="col-sm-1"><div id="num">1</div></td>
      <td class="col-sm-1" id="star"><a href="" data-toggle="tooltip" title="MARK AS FAVORITE"><i class="fa fa-star" aria-hidden="true" style="color: #DDDDDD; font-size: 18px"></i></a></td>
      <td class="col-sm-1" id="songname">Legend</td>
      <td class="col-sm-1" id="category1"><div id="explicit">Explicit</div></td>
      <td class="col-sm-7" id="category2"><div id="type">Type of song</div></td>
      <td class="col-sm-1" id="songtime">4:02</td>
    </tr>


  </table>
</div>
<!-- </div> -->
