/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #boutique{
  display: none; /* Start invisible until the plugin is loaded */
  margin: 0;
  position: absolute;
  top: 8em;
  left: 47%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
}

 /* The frames */
 #boutique li{
   background-color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   height: 290px;
   width: 230px;
   border-radius: 2px;
 }

 /* The most frontal item */
 #boutique .front img{
 }

 #boutique .behind img{
 }

 #boutique img{
 }

 .boutique{
    margin:0;
    padding:0;
    position:relative;
    z-index:1
  }
 .boutique li{
   margin:0; padding:0; list-style:none;
   position:absolute; z-index:1;
   display:none;
   border-width:0;
   height: 320px;
   width: 250px;
 }
 .boutique img{
   border:0;
   vertical-align:bottom;
  }
 .boutique span{
   display:block;
   position:absolute;
   left:0;
   right:0;
   bottom:0;
   text-align:left;
   cursor:default;
   margin:0;
 }
 .boutique h6{
   cursor:default;
  }
 .boutique a, .boutique a:hover{
   cursor:default;
   text-decoration:none;
   outline:none;
  }
 .boutique img, .boutique li, .boutique a{
   -webkit-user-select:none;
   -khtml-user-select:none;
   -moz-user-select:none;
   -o-user-select:none;
   user-select:none;
   -webkit-user-drag:none;
   -moz-user-drag:none;
   user-drag:none;
 }
 .boutique.rtl h6, .boutique.rtl span{
   text-align:right;
 }

.frame3 {
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0;
background-color: #0085B2 !important;
transition: 0.07s;
}

 .frame3 #songtitle {
   padding-top: 3px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 0;
   color: white !important;
   text-transform: uppercase;
 }


 .frame3 #artist {
   padding-top: 0px;
   padding-left: 3px;
   padding-right: 3px;
   padding-bottom: 0;
   color: white !important;
   text-transform: uppercase;
 }

 #prev {
  position: absolute;
  left: 15px;
  top: 150px;
 }
 #next {
  position: absolute;
  right: 15px;
  top: 150px;
 }

.clicked {
  background-color: #00698C;
}


 /*#boutique {
     width: 800px;
     height: 300px;
     display: relative;
     margin: 0 auto;
   }*/

   /*#boutique .zoomed {
     transition: 0.3s;
     position: relative !important;
     top: 75px !important;
     background-color: #0085B2;
   }*/









 /*#carousel {
     width: 800px;
     height: 300px;
     display: relative;
     margin: 0 auto;
   }
   #carousel img {*/
     /*display: hidden; /* hide images until carousel prepares them */*/
     /*cursor: pointer; /* not needed if you wrap carousel items in links */*/
    /*}*/
   /*#carousel .carousel-center {
     transition: 0.3s;
     position: relative !important;
     top: 75px !important;
     background-color: #0085B2;
   }

   .carousel-center #songtitle {
     color: white !important;
     text-transform: uppercase;
   }
   .carousel-center #artist {
     color: white !important;
     text-transform: uppercase;
   }*/

/*
   #prev {
     float: left;
     margin-top: 0px;
   }

   #next {
     float: right;
     margin-top: 0px;
   }*/

   /*#prev {
    position: absolute;
    left: 15px;
    top: 150px;
   }
   #next {
    position: absolute;
    right: 15px;
    top: 150px;
   }*/







 /*SLICK*/
 /*.your-class .slick-center {
     -moz-transform: scale(1.08);
     -ms-transform: scale(1.08);
     -o-transform: scale(1.08);
     -webkit-transform: scale(1.08);
     color: #e67e22;
     opacity: 1;
     transform: scale(1.08);
     margin-top: 50px;
     background-color: #0085B2;

   }*/

   /*.your-class .slick-active:-1 {
       -moz-transform: scale(1.08);
       -ms-transform: scale(1.08);
       -o-transform: scale(1.08);
       -webkit-transform: scale(1.08);
       color: #e67e22;
       opacity: 1;
       transform: scale(1.08);
       margin-top: 30px;

     }*/

/*[data-slick-index*="1"] {*/
       /*background-color: gray;*/
       /*margin-top: 30px;*/
  /* Attribute value contains this value somewhere in it */
}
/*[data-slick-index*="-1"] {
  /*background-color: gray;*/
  /*margin-top: 30px;*/
/* Attribute value contains this value somewhere in it */
/*}*/
/*[data-slick-index*="2"] {*/
  /*margin-top: 30px;*/
/*}*/
  /*background-color: gray;*/

/* Attribute value contains this value somewhere in it */
/*}*/
/*[data-slick-index*="-2"] {
  /*background-color: gray;*/
  /*margin-top: 10px;*/
/* Attribute value contains this value somewhere in it */
/*}*/

   /*.your-class .slick-active {
       -moz-transform: scale(1.00);
       -ms-transform: scale(1.00);
       -o-transform: scale(1.00);
       -webkit-transform: scale(1.00);
       color: #e67e22;
       opacity: 1;
       transform: scale(1.08);

     }*/

     /*.album-container {
       /*height: 400px;*/
       /*width: max-width;
       background: lightblue;
     }*/

     /*.album-art {
       padding: 20px;
     }*/

/*.slick-track {
  height: 200px;
  width: max-width !important;
}*/
/*SLICK*/
