/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 #carousel {
     width: 800px;
     height: 300px;
     display: relative;
     margin: 0 auto;
   }
   #carousel img {
     display: hidden; /* hide images until carousel prepares them */
     cursor: pointer; /* not needed if you wrap carousel items in links */
   }
   #carousel .carousel-center {
     transition: 0.3s;
     position: relative !important;
     top: 75px !important;
     background-color: #0085B2;
   }

   .carousel-center #songtitle {
     color: white !important;
   }
   .carousel-center #artist {
     color: white !important;
   }


   /*#prev {
     float: left;
     margin-top: 0px;
   }

   #next {
     float: right;
     margin-top: 0px;
   }*/

   #prev {
    position: aboslute;
    left: 15px;
    top: 20px;
   }
   #next {
    position: aboslute;
    right: 15px;
    top: 20px;
   }







 /*SLICK*/
 /*.your-class .slick-center {
     -moz-transform: scale(1.08);
     -ms-transform: scale(1.08);
     -o-transform: scale(1.08);
     -webkit-transform: scale(1.08);
     color: #e67e22;
     opacity: 1;
     transform: scale(1.08);
     margin-top: 50px;
     background-color: #0085B2;

   }*/

   /*.your-class .slick-active:-1 {
       -moz-transform: scale(1.08);
       -ms-transform: scale(1.08);
       -o-transform: scale(1.08);
       -webkit-transform: scale(1.08);
       color: #e67e22;
       opacity: 1;
       transform: scale(1.08);
       margin-top: 30px;

     }*/

/*[data-slick-index*="1"] {*/
       /*background-color: gray;*/
       /*margin-top: 30px;*/
  /* Attribute value contains this value somewhere in it */
}
/*[data-slick-index*="-1"] {
  /*background-color: gray;*/
  /*margin-top: 30px;*/
/* Attribute value contains this value somewhere in it */
/*}*/
/*[data-slick-index*="2"] {*/
  /*margin-top: 30px;*/
/*}*/
  /*background-color: gray;*/

/* Attribute value contains this value somewhere in it */
/*}*/
/*[data-slick-index*="-2"] {
  /*background-color: gray;*/
  /*margin-top: 10px;*/
/* Attribute value contains this value somewhere in it */
/*}*/

   /*.your-class .slick-active {
       -moz-transform: scale(1.00);
       -ms-transform: scale(1.00);
       -o-transform: scale(1.00);
       -webkit-transform: scale(1.00);
       color: #e67e22;
       opacity: 1;
       transform: scale(1.08);

     }*/

     /*.album-container {
       /*height: 400px;*/
       /*width: max-width;
       background: lightblue;
     }*/

     /*.album-art {
       padding: 20px;
     }*/

/*.slick-track {
  height: 200px;
  width: max-width !important;
}*/
/*SLICK*/
