/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.album-container {
  /*height: 400px;*/
  /*width: 100px;*/
  height: 260px;
  width: 200px;
  /*background: lightblue;*/
  margin: 4px;
  box-shadow: 2px 1px 2px 1px lightgray;
  border-radius: 2px;
  /*font-family: Avenir;*/
}

/*div.album-container:not(.carousel-center) {
  /*width: 300px;*/
  /*transform: scale(1) !important;*/
  /*opacity: 1 !important;*/
/*}*/

.album-art {
  /*box-shadow: 1px 1px 1px 1px darkgray;*/
  /*padding: 5px;*/
  height: 160px;
  width: 170px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  /*margin-top: 20px*/
  padding-top: 20px;
}

.album-body {
  margin-top: 25px;
  text-align: center;
  /*padding-left: 2px;*/
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bold;
}

#songtitle {
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0;
  color: #0085B2;
  font-family: Roboto;
  text-transform: uppercase;
}

#artist {
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
}

#panel1 {
  width: 555px;
  height: 230px;
  margin-top: 326px;
  overflow: scroll;
  margin-left: 23.1%;
  background-color: #f0f3f5;
  font-family: Roboto;
  text-transform: uppercase;
  box-shadow: 2px 1px 2px 1px lightgray;
  font-weight: bolder;
  font-size: 12px;
}

.fa-arrow-right {
  color: lightgrey;
}

.fa-arrow-left {
  color: lightgrey;
}

#prev:hover{
  background-color: #0085B2;
  border-style: none;
}

#next:hover {
  background-color: #0085B2;
  border-style: none;
}

.fa-arrow-right:hover {
  color: white;
}

.fa-arrow-left:hover {
  color: white;
}

/*a .fa-star {
  font-size: 18px;
  color: #DDDDDD;
}*/
