/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.album-art {
  height: 160px;
  width: 170px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  padding-top: 20px;
}

.album-body {
  margin-top: 25px;
  text-align: center;
  /*padding-left: 2px;*/
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bold;
}

#songtitle {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  color: #0085B2;
  font-family: Roboto;
  text-transform: uppercase;
}

#artist {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
}

#panel1 {
  width: 555px;
  height: 280px;
  margin-top: 326px;
  overflow: scroll;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #f0f3f5;
  font-family: Roboto;
  text-transform: uppercase;
  box-shadow: 2px 1px 2px 1px lightgray;
  font-weight: bolder;
  font-size: 12px;
  position: absolute;
}

.fa-arrow-right {
  color: lightgrey;
}

.fa-arrow-left {
  color: lightgrey;
}

#prev:hover {
  background-color: #0085B2;
  border-style: none;
}

#next:hover {
  background-color: #0085B2;
  border-style: none;
}

.fa-arrow-right:hover {
  color: white;
}

.fa-arrow-left:hover {
  color: white;
}

#num {
  height: 18px;
  width: 18px;
  background-color: #90B9C9;
  border-radius: 5%;
}

#tracknumber {
  color: white;
  text-align: center;
  font-weight: bolder;
}

#explicit {
  /*height: 16px;*/
  padding: 3px;
  width: 60px;
  background-color: #DDDDDD;
  border-radius: 3%;
  vertical-align: middle;
}

#type {
  /*height: 16px;*/
  padding: 3px;
  width: 80px;
  background-color: #DDDDDD;
  border-radius: 3%;
  vertical-align: middle;
}

#category1 {
  text-align: center;
  font-size: 9px;
  font-weight: bolder;
  vertical-align: middle;
}
#category2 {
  font-size: 9px;
  text-align: center;
  font-weight: bolder;
  vertical-align: middle;
}
#songname {
  color: #0085B2;
  font-weight: 1000;
}

#songtime {
  font-weight: 1000;
  color: black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tr:hover #songtime, .table-hover tbody tr:hover #songname {
  background-color: #0085B2;
  color: white;
}
.table-hover tbody tr:hover #explicit {
  background-color: #90B9C9;
}
.table-hover tbody tr:hover #type {
  background-color: #90B9C9;
}

div.tooltip-inner {
  color: white;
  background-color: darkgrey;
  font-size: 7px;
  font-family: Roboto;
}
div.tooltip-arrow {
  border-top-color: darkgrey !important;
}

.yellow-star {

  color: #D9D900 !important;
}
