/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.album-container {
  /*height: 400px;*/
  width: max-width;
  height: max-height;
  /*background: lightblue;*/
  margin: 4px;
  box-shadow: 2px 1px 2px 1px lightgray;
  border-radius: 4px;
}

.album-art {
  padding: 20px;
}
