/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

// CAROUSEL/PANEL/BUTTON/TOGGLES CUSTOMIZATION

// album art display settings
.album-art {
  height: 160px;
  width: 170px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  padding-top: 20px;
}

// carousel card div containing title and artist
.album-body {
  margin-top: 25px;
  text-align: center;
  /*padding-left: 2px;*/
  font-family: Roboto;
  letter-spacing: 2px;
  font-weight: bold;
}

// carousel song title display
#songtitle {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  color: #0085B2;
  font-family: Roboto;
  text-transform: uppercase;
}

// carousel artist display
#artist {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
}

// songlist container for li's of songs
#songlist {
  width: 580px;
  height: auto;
  margin: 0 auto;
  top: 40px;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #f0f3f5;
  font-family: Roboto;
  text-transform: uppercase;
  box-shadow: 2px 1px 2px 1px lightgray;
  font-weight: bolder;
  font-size: 12px;
  position: relative;
}

// arrows for mouse off appearance inside buttons
.fa-arrow-right {
  color: lightgrey;
}

.fa-arrow-left {
  color: lightgrey;
}

// button for previous at left of screen; functions for mouse off, on click and on hover
#prev {
 position: absolute;
 left: 20px;
 top: 230px;
 &:hover {
   background-color: #0085B2 !important;
   border-style: none !important;
   .fa-arrow-left {
     color: white !important;
   }
 }
 &:active, &:focus {
   background: #00698C !important;
   border-color: #00698C !important;
   .fa-arrow-left {
     color: white !important;
   }
 }
}

// button for next at right of screen; functions for mouse off, on click and on hover
#next {
 position: absolute;
 right: 20px;
 top: 230px;
 &:hover {
   background-color: #0085B2 !important;
   border-style: none  !important;
   .fa-arrow-right {
     color: #fff  !important;
   }
 }
 &:active, &:focus {
   background: #00698C !important;
   border-color: #00698C !important;
   .fa-arrow-right {
     color: white !important;
   }
 }
}

// song order div and number
#num {
  background-color: #90B9C9;
  border-radius: 5%;
  padding: 2px 6px;
  color: white;
}

// // song category boxes
#explicit {
  padding: 4px;
  width: 60px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #DDDDDD;
  border-radius: 3%;
  vertical-align: middle;
  margin: 3px;
  font-size: 8px;
  font-weight: bolder;
  letter-spacing: .5px;

}

// time display
#badge-custom {
  background-color: white !important;
  color: black;
  font-weight: bolder;
}


// song title
#songname {
  color: #0085B2;
  font-weight: 900;
  letter-spacing: .5px;
  font-weight: bolder;
  margin-left: 0;
}

// customizing songlist panel on-hover background color and text changes
#songlist {
  li {
      background-color: #f0f3f5;
      #badge-custom {
        background-color: #f0f3f5 !important;
      }
    &:hover {
      background-color: #0085B2;
      #songname,  #num, #badge-custom, .fa-star {
        color: white !important;
      }
      .yellow-star {
        color: #D9D900 !important;
      }
      #badge-custom {
        background-color: #0085B2 !important;
      }
      #explicit {
        background-color: #90B9C9;
        color: white;
      }
    }
  }
}

// customizing tooltip for hover on star favorite function
div.tooltip-inner {
  color: white;
  background-color: darkgrey;
  font-size: 7px;
  font-family: Roboto;
}
div.tooltip-arrow {
  border-top-color: darkgrey !important;
}

// toggle class for star (see tune.js page)
.yellow-star {
  color: #D9D900 !important;
}

// CAROUSEL/PANEL/BUTTON/TOGGLES CUSTOMIZATION
